<div class="home">
    <div class="title-image">
        <h1 class="brand-name">Fetal Health Classification Using AI&ML</h1>
        <p class="title-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio eveniet, natus sequi ea
            laudantium saepe velit voluptates incidunt aliquam adipisci iure, quod, odit alias error impedit
            perspiciatis quia repellendus nihil!</p>
    </div>
    <div class="title">
        <h1 class="section-name">About</h1>
        <p class="section-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio eveniet, natus sequi ea
            laudantium saepe velit voluptates incidunt aliquam adipisci iure, quod, odit alias error impedit
            perspiciatis quia repellendus nihil!</p>
    </div>
    <div class="title">
        <h1 class="section-name">Predict</h1>
        <p class="section-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio eveniet, natus sequi ea
            laudantium saepe velit voluptates incidunt aliquam adipisci iure, quod, odit alias error impedit
            perspiciatis quia repellendus nihil!</p>
        <button mat-button routerLink="blitz">CSV</button>
        <button mat-button routerLink="predict">Feed</button>
    </div>
</div>