<div>
  <div *ngIf="response ==1" class="safe box">
    The fetus is healthy
  </div>
  <div *ngIf="response ==2" class="pathological box">
    The fetus needs immediate attention
  </div>
  <div *ngIf="response ==3" class="critical box">
    The fetus state is pathalogical
  </div>
</div>
<div class="form-app">
  <form [formGroup]="blitz" (ngSubmit)="onSubmit()">
    <div>
      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Choose Model</mat-label>
        <mat-select formControlName="selected_model" id="selected_model">
          <mat-option *ngFor="let model of models" [value]="model.model">
            {{model.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Values in CSV</mat-label>
        <input type="text" formControlName="csv_values" id="csv_values" matInput>
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" class="button" type="submit" [disabled]="!blitz.valid" >
      Save
  </button>
  </form>
</div>