.form-app{
    margin: 5% 30%;
    padding-bottom: 20%;
}
.box{
    padding: 3% 10%;
    margin: 3% 10%;
    text-align: center;
    border-radius: 10px;
    font-size: 2rem;
    text-transform: capitalize; 
}
.safe{
    background-color: rgb(115, 231, 115);
}
.pathological{
    background-color: rgb(240, 240, 97);

}
.critical{
    background-color: rgb(248, 96, 96);

}
