<mat-toolbar color="primary">
    <a routerLink="/" style="color: white;text-decoration: none;">Major Project E-13</a>
    <span class="example-spacer"></span>
    <button mat-mini-fab  style="margin-right: 20px;" aria-label="Example icon-button with heart icon" routerLink="blitz">
      <mat-icon>bolt</mat-icon>
    </button>
    <button mat-mini-fab  class="example-icon" aria-label="Example icon-button with share icon" routerLink="predict">
      <mat-icon color="secondary" >abc</mat-icon>
    </button>
  </mat-toolbar>